/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* utilitys */
.flex{  display: flex;}
.column{    flex-direction: column;}
.row{   flex-direction: row;}
.align-center{  align-items: center;}
.justify-center{ justify-content: center;}
.grow{ flex-grow: 1;}
.gap-col-20px{  column-gap: 20px;}
.gap-row-20px{  row-gap: 20px;}
.marg-top-60px{ margin-top: 60px;}
.marg-top-bot-60px{ margin: 60px 0;}
/* /utilitys */

/* generics */
a{  
    text-decoration: none;
    color: black;
}
img{
    max-width: 100%;
}
.container_normal{ 
    margin: 0 auto;
    max-width: 1200px;
    border: 3px solid black;
}
.container_small{
    margin: 0 auto;
    max-width: 1000px;
    border: 3px solid black;
}
/* /generics */



/* HEADER *********************/
header{
    background-color: cadetblue;
    padding: 15px;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    z-index: 1;
}
/* /HEADER ********************/


/* SECTION *********************/

/* sezione1 */
.sez1{
    margin-top: 60px; /* per distanziare dall header fixed */
    background-color: #b4d0e7;
    background-position-y: top;
}
.sez1 h1{
    font-size: 70px;
    margin: 30px 0;
    padding: 10px;
    font-weight: 900;
}
.sez1 .left_sez1{
    width: 30%;
    padding: 17px;
    border: 2px solid black;
}
.sez1 .right_sez1{
    width: 70%;
    flex-grow: 1;
    border: 2px solid black;
}
.sez1 .right_sez1 img{
    transform: scale(110%);
    position: relative;
    top: 40px;
    left: 3px;
}
/* /sezione1 */

/* sezione2 */
.pagament_plans .card{
    background-color: brown;
    flex-basis: calc(100% / 3);
    height: 500px;
    border: 3px solid black;
}
.pagament_plans .card_footer{
    height: 200px;
}
/* /sezione2 */

/* sezione3 */
.sez3{

}
.sez3 .container_small .sez3-left, .sez3 .container_small .sez3-right{
    background-color: brown;
    border: 3 px solid black;
    flex-basis: 50%;
}
.sez3 .container_small .sez3-right{
    padding: 30px;
}

/* /sezione3 */

/* SECTION *********************/