/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* utilitys */
.flex{  display: flex;}
.column{    flex-direction: column;}
.row{   flex-direction: row;}
.align-center{  align-items: center;}
.justify-center{ justify-content: center;}
.justify-start{ justify-content: flex-start;}
.justify-end{ justify-content: flex-end;}
.grow-1{ flex-grow: 1;}
.grow-2{ flex-grow: 2;}
.grow-3{ flex-grow: 3;}
.wrap{ flex-wrap: wrap;}
.gap-col-20px{  column-gap: 20px;}
.gap-row-20px{  row-gap: 20px;}
.marg-top-60px{ margin-top: 60px;}
.marg-top-bot-130px{ margin: 130px 0;}
.pd-right10px{ padding-right: 10px;}
/* /utilitys */

/* generics */
body{
    font-size: 0.8rem;
    font-family: 'Merriweather Sans', sans-serif;
}
a{  
    text-decoration: none;
    color: black;
}
.normal-link{
    text-decoration:underline;
    color: blue;
}
img{
    max-width: 100%;
}
.container_normal{ 
    margin: 0 auto;
    max-width: 1200px;
    border: 3px solid black;
}
.container_small{
    margin: 0 auto;
    max-width: 1000px;
    border: 3px solid black;
}
.link_button{
    border: 1px solid #0061ff;
    background-color: #0061ff;
    padding: 5px 15px;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}
.fa-check{
    color:blue;
}
/* /generics */



/* HEADER *********************/
header{
    background-color: white;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    z-index: 1;
}
header a:not(.no-height){
    display: flex;
    align-items: center;
    height: 100%;
}
#logo_dropbox{
    padding: 15px;
}
.header_left div, .header_right div{
    height: 100%;
}
.header_left, .header_right{
    padding: 0px 10px;
}
.header_left a:hover, .header_right a:not(.no-height):hover{
    box-shadow: 0px 3px 0px 0px black;
}

/* /HEADER ********************/


/* SECTION *********************/

/* sezione1 */
.sez1{
    margin-top: 60px; /* per distanziare dall header fixed */
    background-color: #b4d0e7;
    background-position-y: top;
}
.sez1 h1{
    font-size: 70px;
    margin: 30px 0;
    padding: 10px;
    font-weight: 900;
}
.sez1 .left_sez1{
    width: 30%;
    padding: 17px;
    border: 2px solid black;
    font-size: 1rem;
}
.sez1 .right_sez1{
    width: 70%;
    flex-grow: 1;
    border: 2px solid black;
}
.sez1 .right_sez1 img{
    transform: scale(110%);
    position: relative;
    top: 40px;
    left: 3px;
}
.sez1 i{
    font-size: 60px;
}
/* /sezione1 */

/* sezione2 */
.pagament_plans .card{
    /* background-color: brown; */
    flex-basis: calc(100% / 3);
    /* height: 700px; */
    /* border: 3px solid black; */
    position: relative;
}
.pagament_plans .card_footer{
    height: 200px;
}
.choosing_area{
    margin: 43px 0px;
}
.choosing_area span:nth-child(2) {
    margin-left: 74px;
}

.sez2 .card_content{
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid grey;
}
.gap-card{
    column-gap: 60px;
}
.card_content .card-head{
    border-bottom: 1px solid grey;
    padding: 10px;
    text-align: center;
}
.card-main{
    padding: 30px;
    row-gap: 15px;
}
.duration-plan{
    font-size: 1rem;
    color: grey;
    padding-bottom: 30px;
}
.card-main .link_button{
    margin-top: 10px;
}
.margin-button{
    margin-top: 30px;
    margin-bottom: 10px;
}
.margin-punti-salienti{
    margin-top: 40px;
    margin-bottom: 10px;
}
/* /sezione2 */

/* sezione3 */
.sez3{

}
.sez3 .container_small .sez3-left, .sez3 .container_small .sez3-right{
    background-color: brown;
    border: 3px solid black;
    flex-basis: 50%;
}
.sez3 .container_small .sez3-right{
    padding: 30px;
}

/* /sezione3 */

/* sezione4 */

.sez4 .card{
    background-color: brown;
    border: 3px solid black;
    flex-basis: calc(100% / 3);
}

.sez4 .team{
    margin-top: 127px;
    margin-bottom: 38px;
}

.sez4 a{
    text-decoration: underline;
    color: blue;
}

/* /sezione4 */


/* sezione5 */

.square{
    flex-basis: calc(100% / 5);
    height: 300px;
    border: 3px solid black;
    background-color: brown;
    padding: 20px;
}
.square.big{ flex-grow: 2;}


/* /sezione5 */


/* sezione6 */
/* /sezione6 */

/* SECTION *********************/

/* FOOTER **********************/
footer{
    background-color: black;
    color: white;
    height: 600px;
}
/* /FOOTER *********************/